/* responsive for mobile */

@media screen and (max-width:768px) {
    
    /* header section (navbar + banner) */
    header {
        margin: 0 15px;
        margin-top: 15px;
    }

    .nav-links {
        display: none;
    }

    .cart {
        font-size: 1.5rem;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-top: 30px;

    }



    /* Our Plants */
    .our-plants {
        margin: 0 15px;
        margin-top: 65px;
        margin-bottom: 40px;
    }

    .plants-card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }


    /* Flower and Plants lover */
    .flower-plants-lover {
        flex-direction: column;
        gap: 18px;
        margin: 0 15px;
    }

    .trusted-badge {
        display: none;
    }



    /* latest deals */
    .latest-deals {
        margin: 0 15px;
        margin-top: 100px;
    }

    .deals-grid {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .small-card,
    .big-card {
        
        font-size: 1.5rem;
        padding: 65px 44px;
    }

    .small-card button {
        font-size: 1.125rem;
    }




    /* Join the colorful Bunch */
    .join-the-bunch{
        padding-top: 100px;
        padding-bottom: 64px;
    }
    .join-the-bunch h2 {
        font-size: 1.5rem;
    }

    input {
        padding: 15px 20px;
        padding-right: 100px;
    }

    form button {
        padding: 15px 12px;
    }




    /* footer */
    footer{
        flex-direction: column;
        gap: 0px;
        margin: 50px 20px;
    }
    .footer-logo-description{
        margin-bottom: 24px;
    }
}