/* responsive for mobile */

@media screen and (max-width:768px) {
    header{
        margin: 0 15px;
        margin-top: 15px;
    }
    .nav-links{
        display: none;
    }
    .cart{
        font-size: 1.5rem;
    }    
}