*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared section */
.description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

/* header */
header{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu-cart{
    display: flex;
    gap: 48px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 48px;
}
.nav-links a{
    text-decoration: none;
    color: #8987A1;
    font-weight: 400;
}


/* banner */
.banner{
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
}
.banner-heading{
    font-size: 4rem;
    font-weight: 700;
    color: #E95A08;
    margin-bottom: 15px;
}



