* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared section */
.section-title {
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.description {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}





/* header */
header {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-cart {
    display: flex;
    gap: 48px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-links a {
    text-decoration: none;
    color: #8987A1;
    font-weight: 400;
}





/* banner */
.banner {
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
}

.banner-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #E95A08;
    margin-bottom: 15px;
}





/* Our Plants */
.our-plants {
    max-width: 1140px;
    margin: 100px auto;
    
}

.our-plants-heading {
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.plants-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant-card {
    max-width: 270px;
}

.plant-card img {
    width: 100%;
}

.plant-card-content {
    margin: 20px auto;
}

.plant-card-content h3 {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.plant-card-content h4 {
    font-size: 1.375rem;
    font-weight: 600;
}

.card-button {
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    padding: 19px;
    border: none;
    width: 100%;
    cursor: pointer;
}







/* flower and plants lover */
.flower-plants-lover {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.flower-plants-lover-left {
    position: relative;
    max-width: 540px;
}

.trusted-badge {
    width: 286px;
    width: 286px;
    position: absolute;
    left: 361px;
    bottom: 442px;
}

.flower-plants-lover-right {
    max-width: 540px;
}
.flower-plants-lover-right li{
    margin: 20px 0;
    margin-left: 20px;
}





/* Latest Deals */
.latest-deals{
    max-width: 1140px;
    margin: 0 auto;
}
.deals-grid{
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
}
.deals-grid-left{
    display: grid;
    gap: 25px;
}
.small-card{
    background-size: cover;
    background-position: center;
    padding: 65px 44px;
    text-align: center;
    border-radius: 14px;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}
.deals-grid-left .small-card:nth-child(1){
    background-image:url(../assets/deal-bloom.png) ;
    /* background-color: rgba(0, 0, 0, 0.4); */
}
.deals-grid-left .small-card:nth-child(2){
    background-image: url(../assets/deal-ana.png);
}

.big-card{
    background-image: url(../assets/deal-zabo.png);
    height: 100%;
}
.big-card{
    background-size: cover;
    background-position: center;
    padding: 65px 44px;
    text-align: center;
    border-radius: 14px;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
    padding: 170px 100px;
}

.small-card button{
    background-color: transparent;
    border:none;
    text-decoration: underline;
    color: white;
    padding: 19px 90px;
    cursor: pointer;
}
.big-card button{
    background-color: transparent;
    border:none;
    text-decoration: underline;
    color: white;
    padding: 19px 90px;
    cursor: pointer;
    font-size: 1.5rem;
}